@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap");

/* generic/common across all pages */

html{
    font-family: 'Raleway', sans-serif;
    background-color: hotpink;
    color:midnightblue;
}
body{
    margin:15px;
}

header{
    text-align:center;
    padding:10px;
}

h1{
    font-size:4rem;
}

nav{
    font-size:2rem;
    border:2px solid hotpink;
    background-color: lightpink;
}

a:hover{
    color:hotpink;
}

/* end generic/common across all pages */


/* home page */ 

#profile-pic {
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:300px;
    width:300px;
    border-radius:100%;
    border-style:dashed;
}


/* end home page */ 


/* projects */ 


#project-content{
    display:flex;
    flex-wrap:wrap;
}

div.card{
    border: 2px solid black;
    padding:10px;
    margin: 5px;
    height: auto;
    widows: auto;
}

h2{
    text-align:center;
}

div.project-text{
    text-align:center;
}

img.project-pics {
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:150px;
    width:150px;
    border-radius:100%;
}

/* end projects */ 


/* Contact me */

form{
    margin: 50px auto;
    width: 90%;
    font-size:1.5rem; 
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: lightpink;
}

.form-item label:hover{
    color:hotpink;

}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid hotpink;
}

.form-item button:hover {
    border: 2px solid hotpink;
    background-color: hotpink;
    color: #FFF;
}

/* end contact me */

/* footer */

footer{
    background-color: lightpink;
    border:2px solid hotpink;
    text-align: center;
}

/* end footer */


/* media queries */

/* default - mobile, below 600px */

/*
#bio-content{
    display:flex;
    flex-wrap:wrap;
    text-align: center;
}

*/ 


/*
#contact-content{
    display:flex;
    flex-wrap:wrap; 
}
*/


@media (max-width:899px) and (min-width:600px){
    #project-content{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
    }

    div.card{
        flex-basis:40%;
        flex-direction:column;
    }
}

@media (min-width:900px){
    #project-content{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
    }
    div.card{
        flex-basis:20%;
        flex-direction:column;
    }
}


