@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

/* generic/common across all pages */

html{
    font-family: 'Raleway', sans-serif;
    background-color: #DB7093;
    color:midnightblue;
}
body{
    margin:15px;
}

header{
    text-align:center;
    padding:10px;
}

h1{
    font-size:2rem;
}

nav{
    font-size:1rem;
    border:1px solid midnightblue;
    background-color: #D98695;
}

a:hover{
    color:lightpink;
}


/* end generic/common across all pages */


/* home page */ 

#profile-pic {
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:170px;
    width:170px;
    border-radius:100%;
    border-style:dashed;
}

#bio-text{
    text-align:center;
    font-size:1rem;
}

/* end home page */ 


/* projects */ 


#project-content{
    display:flex;
    flex-wrap:wrap;
}

div.card{
    border: 1px solid midnightblue;
    padding:10px;
    margin: 5px;
    height: auto;
    widows: auto;
}

h2{
    text-align:center;
}

div.project-text{
    text-align:center;
}

img.project-pics {
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:150px;
    width:150px;
    border-radius:100%;
}

/* end projects */ 


/* Contact me */

#contact-blurb{
    text-align:center;
    font-size:1rem;
}

form{
    margin: 50px auto;
    width: 90%;
    font-size:1rem; 
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #D98695;
}

.form-item label:hover{
    color:lightpink;

}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid lightpink;
}

.form-item button:hover {
    border: 2px solid lightpink;
    background-color: lightpink;
    color: midnightblue;
}

/* end contact me */

/* footer */

footer{
    background-color: #D98695;
    border:1px solid midnightblue;
    text-align: center;
    font-size:.8rem;
}

/* end footer */


/* media queries */

/* default - mobile, below 600px */


@media (min-width:600px){
    #project-content{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
    }

    div.card{
        flex-basis:40%;
        flex-direction:column;
    }

    #bio-content{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
    }

    #profile-pic {
        display:inline-block;
        margin-left:auto;
        margin-right:auto;
        height:250px;
        width:250px;
        border-radius:100%;
        border-style:dashed;
    }
    
    #bio-text{
        display:inline-block;
        text-align:justify;
        font-size:1rem;
        width:50%;
    }

    h1{
        font-size:2.5rem;
    }

    nav{
        font-size:1.1rem;
    }

    #contact-blurb{
        text-align:center;
        font-size:1.1rem;
    }

    form{
        margin: 50px auto;
        width: 90%;
        font-size:1.1rem; 
    }
}

@media (min-width:900px){
    #project-content{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
    }
    div.card{
        flex-basis:25%;
        flex-direction:column;
    }

    #profile-pic {
        display:inline-block;
        margin-left:auto;
        margin-right:auto;
        height:300px;
        width:300px;
        border-radius:100%;
        border-style:dashed;
    }
    
    #bio-text{
        display:inline-block;
        text-align:justify;
        font-size:1.2rem;
        width:50%;
    }

    h1{
        font-size:3rem;
    }

    nav{
        font-size:1.2rem;
    }

    #contact-blurb{
        text-align:center;
        font-size:1.2rem;
    }

    form{
        margin: 50px auto;
        width: 90%;
        font-size:1.2rem; 
    }
}
}


